body {
	margin: 0;
	font-family: 'Strait', sans-serif;
	background-color: rgb(18, 16, 18);
	color: white;
	width: 100%;
	overflow-x: hidden;
}

a {
	font-size: 17px;
	color: #177245;
	text-decoration: none;
}

nav {
	position: fixed;
	width: 100%;
	z-index: 1;
}

ul {
	list-style: none;
	position: absolute;
	z-index: 1;
	padding-left: 20px;
	display: inline;	
}

li { 
	display: inline-block;
	padding-right: 40px;
	font-size: 17px;
	color: #177245;
	 }

li:hover {
  transition: all ease-in-out 1s;
  text-shadow: 0 0 3px #177245, 0 0 5px #177245;
}

nav ul {
	background-color: rgba(255, 255, 255, 0.36);
	width: 100%;
	margin: 0;
	padding: 20px 0;
}

#map {
	padding-top: 100px;
	top: 0;
	opacity: 0;
	position: absolute;
	bottom: 0;
	height: 600px;
	width: 100%;
}


#life {
	margin-left: 100px;
	padding-right: 950px;
	font-size: 20px;
}
