body {
	margin: 0;
	font-family: 'Strait', sans-serif;
	background-color: rgb(18, 16, 18);
	color: white;
	width: 100%;
	overflow-x: hidden;
	}

a {
	font-size: 17px;
	color: #177245;
	text-decoration: none;
}

nav {
	position: fixed;
	width: 100%;
	z-index: 1;
}

ul {
	list-style: none;
	position: absolute;
	z-index: 1;
	padding-left: 20px;
	display: inline;	
}

li { 
	display: inline-block;
	padding-right: 40px;
	font-size: 17px;
	color: #177245;
 }
 
 li:hover {
  transition: all ease-in-out 1s;
  text-shadow: 0 0 3px #177245, 0 0 5px #177245;
}

nav ul {
	background-color: rgba(255, 255, 255, 0.36);
	width: 100%;
	margin: 0;
	padding: 20px 0;
}

#mainP {
	font-size: 30px;
	text-align: center;
}

#life {
	margin-left: 100px;
	padding-right: 950px;
	font-size: 20px;
}

#inMain {
	height: 650px;
	width: 100%;
}

.header-bg {
	position: absolute;
	width: 100%;
	height: 300%;
	background-image: url(pure.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom ;
}

#ul2 {
	position: relative;
	display: inline-block;
	margin-left: 330px;
	margin-top: 40px;
}


.lastImage {
	display: inline-block;
	width: 102%;
	position: relative;
	margin-top: 200px;

}

.lastImage img {
	display: inline-block;
	position: relative;
}

p {
	text-align: center;
	padding-left: 200px;
	padding-right: 200px;
}

h1 {
	margin-top: 25%;
	z-index: 1;
	text-align: center;
	color: #177245;
	position: relative;
	
}

header {

	position: relative;
	width: 100%;
	height: 100vh;
	margin-bottom: 0px;
	overflow: hidden;
}

footer {
	height: 100%;
	width: 100%;
	text-align: left;
}

footer li {
	color: white;
	display: block;
	text-align: left;	
	margin-left: 20px;
	margin-top: 8px;
	color: #177245;

}

footer h2 {
	
	color: white;
	text-align: right;
	font-size: 15px;
	margin-right: 10px;
	color: #177245;
}

h2 {
 position: absolute;
 margin-left: 1100px;
 margin-top: -40px;
 color: #177245;
}


table img:hover {
	border-radius: 0px;
	-webkit-filter: grayscale(0%);
		border-radius: 20px 100px;

}

table {
	position: relative;
	width: 100%;

}

table img {
	width: 100%;
 	  -webkit-filter: grayscale(100%);
 	transition: all 2s ease;
}

